<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <title>사용자 추가 성공페이지</title>
    </head>
    <body style="color:white">
        <table border="1,color:lightblue" style="background-color:blue">
        <tr>
            <td><h1>사용자 추가 성공</h1></td>
        </tr>
            
        <tr>
            <td><h2>사용자 명:<div style="color:lemonyellow"><%= username %></div></h2></td> <!-- % %가 변수 -->
        </tr>
        
        
        
        </table>
        
        
       
    </body>
</html>