<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>성공</h1>

        <% if(file) { %>
            <pre><%=JSON.stringify(file,null,2)%></pre>
            <% } %>

            <% if(files) { %>
                <pre><%=JSON.stringify(files, null, 2)%></pre>
                <% } %>

                <a href="/">돌아가기</a>
    </body>

</html>
