<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    
    html{background-color: rgb(255, 252, 223);}
    
       div.col-lg-9{text-align: center;
        margin-left: 190px;
    position: relative;}
       
    table,th,td,tr{ border-color: rgb(255, 255, 255);}
       </style>

<title>board</title>
</head>
<body>
    <div class="container">
		<div class="row">
            <H2 style="color:dodgerblue ;"><a href="/bbs/list">게시판</a></H2> <!--게시판 버튼 클릭시 게시판 목록으로 이동-->
            <HR>
    <form name="form1" action="/bbs/save" method="post">    
        <table border="1" class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <thead>
                <tr>
                    <th colspan="2" style="background-color: #eeeeee; text-align: center;">게시판 글쓰기</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background-color:paleturquoise ;">작성자</td> <!--작성자를 입력 받으면 그것을 brdwriter에 넣는다.-->
                    <td style="background-color:rgb(225, 255, 225)"><textarea type="text" class="form-control" placeholder="작성자" name="brdwriter" maxlength="20" rows=2 cols=115 ></textarea></td>
                </tr>
                <tr>
                    <td style="background-color:paleturquoise ;">제목</td>   <!--제목을 입력 받으면 그것을 brdtitle 넣는다.-->
                    <td style="background-color:rgb(225, 255, 225)"><textarea type="text" class="form-control" placeholder="제목" name="brdtitle" maxlength="100" rows=2 cols=115></textarea></td>
                </tr>
                <tr>
                    <td style="background-color:paleturquoise ;">내용</td>   <!--내용을 입력 받으면 그것을 brdmemo 넣는다.-->
                    <td style="background-color:rgb(225, 255, 225)"><textarea class="form-control" placeholder="글 내용" name="brdmemo" maxlength="9000" style="height:350px; width:820px;"></textarea></td>
                </tr>
            </tbody>
        <td colspan=2 align=center>
       <button type=reset class="btn btn-primary" onclick="form1.submit()" >저장</button> <!--저장 버튼 클릭 시 form문안에 변수를 모두 /bbs/save로 보낸다..-->
        <button type=reset  class="btn btn-primary" onclick="history.back(-1)">취소</button> <!--취소 버튼 클릭 시 이전 화면으로 간다.-->
        <input type="hidden" name="brdno" value=""> <!--버튼 클릭시 brdno변수도 같이 보낸다.-->
        </td>
    </table>
    </form>
    </div>
    </div>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>