<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    
    html{background-color: rgb(255, 252, 223);}
    
       div.col-lg-9{text-align: center;
        margin-left: 190px;
    position: relative;}
       
    table,th,td,tr{ border-color: rgb(255, 255, 255);}
       </style>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>board</title>
</head>
<body>
    <%
        var column = rows[0];
    %>
    <div class="container">
		<div class="row">
            <H2 style="color:dodgerblue ;"><a href="/bbs/list">게시판</a></H2>
            <HR>
    <form name="form1" action="/bbs/save" method="post">
        <table border="1" class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <thead>
                <tr>
                    <th colspan="2" style="background-color: #eeeeee; text-align: center;">게시판 수정</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background-color:paleturquoise ;">작성자</td> <!--작성자를 입력 받으면 그것을 brdwriter에 넣는다.-->
                    <td style="background-color:rgb(225, 255, 225)"><textarea type="text" class="form-control" name="brdwriter" maxlength="20" rows=2 cols=115 ><%=column[3]%>></textarea></td>
                </tr>
                <tr>
                    <td style="background-color:paleturquoise ;">제목</td> <!--제목을 입력 받으면 그것을 brdtitle 넣는다.-->
                    <td style="background-color:rgb(225, 255, 225)"><textarea type="text" class="form-control" name="brdtitle" maxlength="100" rows=2 cols=115><%=column[2]%></textarea></td>
                </tr>
                <tr>
                    <td style="background-color:paleturquoise ;">내용</td>  <!--내용을 입력 받으면 그것을 brdmemo 넣는다.-->
                    <td style="background-color:rgb(225, 255, 225)"><textarea class="form-control" name="brdmemo" maxlength="9000" style="height:350px; width:820px;"><%=column[2]%></textarea></td>
                </tr>
            </tbody>
        </table>
        <td colspan=2 align=center>
        <input type=reset value="저장" class="btn btn-primary" onclick="form1.submit()" /> <!--저장 버튼 클릭 시 form문안에 변수를 모두 /bbs/save로 보낸다..-->
        <input type=reset value="취소" class="btn btn-primary" onclick="history.back(-1)" />  <!--취소 버튼 클릭 시 이전 화면으로 간다.-->
        <input type="hidden" name="brdno" value="<%=column[0]%>"> <!--버튼 클릭시 brdno변수안에 column[0]값을 넣어서 같이 보낸다.-->
        </td>
    </form>
    </div>
    </div>
</body>
</html>