<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>파일 업로드</title>

    <style>
    
        html{background-color: rgb(255, 252, 223);}
        
           div.col-lg-9{text-align: center;
            margin-left: 190px;
        position: relative;}
           
        table,th,td,tr{ border-color: rgb(255, 255, 255);}
           </style>
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file"  style="margin-right:10px; background-color: lightblue;" name="userfile">
    <button type="submit" class="btn btn-primary">제출</button>
</form>

</body>



    </html>